@charset "utf-8";
/* CSS RESET */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;}
html,body{ width:100%; height:100%;}
body{font-size:14px;font-family:"圆体";color:#2c2c2c;}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0}
table{ border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc}
caption,th,td{text-align:left;font-weight:normal; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; padding:4px 0 4px 4px; line-height:36px}
blockquote:before,blockquote:after,
q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
img {border: medium none; display: inline-block;}

/* em/i/cite */
em,i,cite{ font-style:normal}
i{ display:inline-block}
em{ font-family:Arial, Helvetica, sans-serif;}
a{color:#666;text-decoration:none;outline:none;cursor:pointer}
a:hover{color:#f60;text-decoration:none}
/* show/hide */
.hide{ display:none}
.show{ display:block}
.hand{ cursor:pointer}
/* form */
.form {line-height:24px}
.form li {padding:8px 0;vertical-align: middle;clear:none;width:auto; overflow:hidden; line-height:22px}
/* input */
input,select{vertical-align:middle;font-family:"圆体";font-size:12px;}
input{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-modify: read-write-plaintext-only; padding: 0; margin:0;}
textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-modify: read-write-plaintext-only; padding: 0; margin:0;}
input:focus {outline: none;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{ color:#999; font-size:14px;}
/* button */
.btn{display:inline-block;color:#fff;text-align:center;vertical-align:middle; border:medium none; cursor:pointer}
.btn:hover{color:#fff}
/* text-align */
.tright{text-align:right}
.tleft{text-align:left}
.tcenter{text-align:center}
a.text_none{ text-decoration:none}
.text_underline{ text-decoration:underline}
/* float */
.left{float:left}
.right{float:right}
/* clear */
.clearR{clear:right}
.clearL{clear:left}
.clearfix{*zoom:1;clear:left}
.clearfix:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden}
/* font-family */
.font_my{font-family:"圆体";}
.font_a{font-family:"圆体"}
.font_t{font-family:"圆体"}
.font_n{font-weight:normal}
.bold{font-weight:bold}

/* font-size */
.f12{font-size:.2899rem}
.f14{font-size:.3382rem}
.f16{font-size:.3865rem}
.f18{font-size:.4348rem}
.f20{font-size:.4831rem}
.f22{font-size:.5314rem}
.f26{font-size:.628rem}
.f28{font-size:.6763rem}
/* margin */
.m10{margin:10px;}
.mt{margin-top: .1691rem}
.mt5{margin-top: .1208rem}
.mr5{margin-right: .1208rem}
.mb5{margin-bottom: .1208rem}
.ml5{margin-left: .1208rem}
.mb{margin-bottom: .1691rem}
.ml{margin-left: .1691rem}
.mr{margin-right: .1691rem}
/* padding */
.p10{padding:10px}
.pr5{padding-right:5px}
.pl5{padding-left:5px}
.pt5{padding-top:5px}
.pb5{padding-bottom:5px}
.pt{padding-top:10px}
.pb{padding-bottom:10px}
.pr{padding-right:10px}
.pl{padding-left:10px}
/*font color*/
.white{background:#fff}
.gray_1{background: #e2e2e2}
.gray_2{background:#1F2126}
.gray_3{background:#3a3e46}
.orange{background:#fcb415}
.red{background:#F00}
.yellow{background:#fff000}
.black{ background:#666}
.greenBlue{ background:#46b5c8}
.blueBlue{ background:#aafa01}
.color{ color:#ea3d4f}

.f_white{color:#ffffff}
.f_black{color: #000000}
.f_red{color:#F00;font-size: 12px;}
.f_origin{color: #FCB415}

.hide-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;top:0;
    background: rgba(0,0,0,.15);
}
.hide-loading{
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0;top:30%;
    margin-top:24px;
    background: url('../images/loading.png') no-repeat center center;
    background-size: 48px 48px;
    animation: loading 2s infinite;
}
.disabled { cursor: not-allowed !important;background-color: rgba(255, 255, 255, 0.15) !important;color:#FCB415 !important; }

@keyframes loading{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

.BMap_cpyCtrl  
{  
    display:none;   
}  
.anchorBL{  
    display:none;   
}  

/*position*/
.position-r{ position:relative}
.position-a{ position:absolute}
.overflow{ overflow:hidden}
.radius{ border-radius:4px}
/*box-flex*/
.boxFlex{display:-moz-box; display:-webkit-box; display:-o-box; display:box;-moz-box-orient:horizontal; -webkit-box-orient:horizontal; -o-box-orient:horizontal; box-orient:horizontal;}
.boxFlexChild{-moz-box-flex: 1; -webkit-box-flex: 1;box-flex: 1; width:0%}
/*word-break*/
.word-break{word-wrap: break-word;word-break:normal;word-break:break-all;}
.word-break-nowrap{white-space:nowrap;}
/*word-break*/
.ellipsis{overflow:hidden; text-overflow:ellipsis;  white-space:nowrap; }

.body-bg{ background: #eee}

/*这是给mint-ui中的Indicator 提示框的层级加1*/
.mint-indicator>div{ z-index: 1 }

/*返回按钮*/
.return-btn-box{
    line-height: 30px;
}
.return-btn{ 
    display:inline-block;width: 30px;height: 30px;background:#FCB415 url(../images/return.png) center center no-repeat;background-size: 10px 10px;line-height: 40px;cursor: pointer;  
}
@media (min-width:1800px){
    .return-btn-box{
        line-height: 45px;
    }
    .return-btn{ 
        width: 45px;height: 45px;background:#FCB415 url(../images/return.png) center center no-repeat;background-size: 15px 15px;cursor: pointer;  
    }
}
.return-btn:hover{
    background-color: #FEF0D0;
}
.start-point-btn{ width: 100px;height: 30px;box-sizing: border-box;border:1px solid #fcb415;color:#fff;text-align: center;line-height: 30px; }

.func_btn{
    cursor: pointer;
}
.square{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,.15);
}
.square:hover{
    background-color:#FEF0D0 !important;
    box-shadow: none;
}
.clear{
    position: relative;
}
.clear::after{
    content:'';
    display: block;
    position: absolute;
    height: 0;
    opacity: 0;
    clear: both;
}